.section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: var(--field-height);
}
component-panel.section,
.section {
    flex-flow: column nowrap;
    flex: 0 0 content;
    margin: 0 auto;
    min-height: 50px;
    padding: var(--space-default) !important;
    gap: var(--space-default);
}
